
body {
    width: 500px;
    height: 600px;
}

.post-header { 
    display: flex;
    justify-content: space-between;
}
.header-content {
    display: flex;
    align-items: center;
}

.header-text {
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.html-icon {
    font-size: 32px;
    margin-left: 20px
}

.Hamburger-Dots{
    font-size: 32px;
    margin-top: 10px;
}


.Icon-Bar{
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    margin-top: 10px
    }

.Likedby-Text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.footer-text{
    display:flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px
}

/* .lavender-image {
    width: 400px;
    height: 250px

} */